.title1 {
  width: 100%;
  display: flex;
  padding: 0 7em;
  padding-top: 150px;
}
.title1 h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -1px;
}

.texto-title {
  width: 480px;
  color: #0D4687;
}

.imagen-auto {
  width: calc(100% - 480px);
  display: flex;
  justify-content: center;
}
.imagen-auto img {
  width: 70%;
  max-width: 430px;
}

.bold {
  font-weight: 600;
}

.button-primario {
  margin-top: 30px;
  height: 45px;
  width: 220px;
  background: #0D4687;
  border: 1px solid #0D4687;
  border-radius: 10px;
  font-weight: 600;
  color: white;
}

.conten-boton {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conten-boton button {
  padding: .4em 4em;
  background: #0D4687;
  border: 1px solid #0D4687;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.servicios {
  width: 100%;
  margin-top: 50px;
  padding: 1em 7em;
  display: flex;
  flex-wrap: wrap;
}

.cabezera-servicios {
  width: 35%;
}

.vacio {
  width: 65%;
  color: transparent;
}

.title-servicios {
  font-size: 1.8rem;
  line-height: 2.5rem;
  display: inline;
  color: #0D4687;
}

.content-service {
  width: 50%;
  margin-top: 20px;
  padding: .4em .8em;
  overflow: hidden;
}
.content-service .img-servicio {
  width: 100%;
  background: red;
}
.content-service .img-servicio img {
  width: 100%;
}

.descripcion-servicio {
  margin-top: 6px;
}
.descripcion-servicio h3 {
  text-align: center;
  color: #337AB7;
}
.descripcion-servicio p {
  text-align: justify;
  padding: 0 10px;
  color: #666666;
}

.descripcion {
  width: 100%;
  padding: 1em 7em;
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.descripcion .descripcion-tec {
  width: 32%;
}
.descripcion .descripcion-tipos {
  width: 68%;
  display: flex;
  justify-content: flex-end;
}

.descripcion-items {
  width: 25%;
  height: auto;
  padding: .5em .8em;
}
.descripcion-items img {
  height: 120px;
  width: 120px;
}
.descripcion-items label {
  font-weight: 600;
  font-size: 18px;
  color: #337AB7;
}
.descripcion-items p {
  color: #666666;
}

.img-descripcion-tipo {
  display: flex;
  justify-content: center;
}

.frm {
  width: 100%;
  height: auto;
  padding: 1em 0;
  color: #0D4687;
  text-align: center;
}

.formulario {
  width: 100%;
  padding: 2em 7em;
  display: flex;
  justify-content: center;
}

.formulario-empresa {
  width: 50%;
  padding: .5em .5em;
  box-shadow: 0px 0px 8px 3px #eee;
  position: relative;
}

.mapa {
  width: 50%;
  background: tomato;
  padding: .5em .5em;
}

.caja-completa {
  width: 100%;
  margin-bottom: 2px;
}
.caja-completa label {
  width: 100%;
  font-weight: 600;
}
.caja-completa button {
  width: 100%;
}

.caja-doble {
  width: 50%;
  margin-bottom: 8px;
}
.caja-doble input[type="text"] {
  display: inline;
  width: 48%;
}
.caja-doble label {
  width: 100%;
  font-weight: 600;
}

.caja-doble-only {
  width: 50%;
  margin-bottom: 8px;
}
.caja-doble-only select {
  width: 90%;
}
.caja-doble-only label {
  font-weight: 600;
}

.form-date {
  width: 80%;
  height: 40px;
}

.boton-frm {
  height: 45px;
}

.parada {
  margin: 10px 0;
  width: 200px;
  font-size: 14px;
  background: blue;
  padding-top: 7px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.estado {
  padding: .5em 0;
}
.estado label {
  padding-right: 20px;
  font-weight: 600;
}

.label {
  font-size: 13px;
  font-weight: 600;
}

.a-btn {
  background: #0D4687;
  padding: .5em 2em;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.title1, .servicios, .descripcion {
  max-width: 1500px;
}

@media screen and (max-width: 1200px) {
  .title1 {
    padding: 0 6em;
    padding-top: 150px;
  }

  .servicios {
    padding: 1em 6em;
  }

  .descripcion {
    padding: 1em 6em;
  }

  .formulario {
    padding: 2em 6em;
  }
}
@media screen and (max-width: 1100px) {
  .title1 {
    padding: 0 5em;
    padding-top: 150px;
  }

  .servicios {
    padding: 1em 5em;
  }

  .descripcion {
    padding: 1em 5em;
  }

  .cabezera-servicios {
    width: 50%;
  }

  .vacio {
    width: 50%;
  }

  .formulario {
    padding: 2em 5em;
  }
}
@media screen and (max-width: 1000px) {
  .title1 {
    padding: 0 4em;
    padding-top: 150px;
  }

  .servicios {
    padding: 1em 4em;
  }

  .descripcion {
    padding: 1em 4em;
  }

  .formulario {
    padding: 2em 4em;
  }
}
@media screen and (max-width: 900px) {
  .title1 {
    padding: 0 3em;
    padding-top: 150px;
  }

  .servicios {
    padding: 1em 3em;
  }

  .descripcion {
    padding: 1em 3em;
  }

  .formulario {
    padding: 2em 3em;
  }

  .imagen-auto {
    display: none;
  }

  .content-service {
    width: 50%;
  }

  .descripcion .descripcion-tec {
    width: 100%;
    padding-bottom: 15px;
  }

  .descripcion .descripcion-tipos {
    width: 100%;
    justify-content: space-between;
  }

  .formulario-empresa {
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  .title1 {
    padding: 0 1.5em;
    padding-top: 120px;
  }

  .servicios {
    padding: 1em 1.5em;
  }

  .descripcion {
    padding: 1em 1.5em;
  }

  .formulario {
    padding: 2em 1.5em;
  }

  .formulario-empresa {
    width: 80%;
  }

  .cabezera-servicios {
    width: 60%;
  }

  .vacio {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .title1 {
    padding: 0 .5em;
    padding-top: 100px;
  }

  .servicios {
    padding: 1em .5em;
    margin-top: 25px;
  }

  .descripcion {
    padding: 1em .5em;
    margin-top: 10px;
  }

  .formulario {
    padding: 1em .5em;
  }

  .formulario-empresa {
    width: 100%;
  }
  .formulario-empresa label {
    display: none;
  }

  .content-service {
    width: 100%;
  }

  .cabezera-servicios {
    width: 100%;
  }

  .vacio {
    display: none;
  }

  .descripcion .descripcion-tipos {
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .descripcion-items {
    width: 50%;
  }

  .button-primario {
    margin-top: 15px;
  }
}

/*# sourceMappingURL=empresa.css.map */
